<div class="row" *ngIf="loading; else details">
    <div class="col-12 loading mt-5">
        <app-loader></app-loader>
    </div>
</div>

<ng-template #details>
    <div class="row">
    
        <div class="mt-2">
            <a class="text-danger" [routerLink]="['/pokedex']" style="text-decoration: none;">
                <i class="bi-arrow-left"></i>
                Volver</a>
        </div>
    
        <div class="col-12 mt-3">
            <h1 class="titlecase text-danger">
                {{ pokemon?.nombre | titlecase }} 
                <small class="lead text-dark">
                    No. {{ pokemon?.id }}
                </small>
            </h1>
        </div>
    
        <div class="col-12">
            <div class="row">
                <div class="col-5">
                    <img [src]="pokemon?.fullUrl" [alt]="pokemon?.nombre"> 
                </div>
                <div class="col-5">
                    <div class="mb-3">
                        <h3 class="mb-1 h3 text-danger">Descripción</h3>
                        <h3 class="mb-3 descripcion"> {{ pokemon?.descripcion }} </h3>
                    </div>
                    <div class="mb-3">
                        <h3 class="mb-1 h3 text-danger">Estadisticas</h3>
                        <app-habilidades [pokemon]="pokemon"></app-habilidades>
                    </div>
                    <div class="mb-3">
                        <h3 class="mb-1 h3 text-danger">Tipo</h3>
                        <app-badge-tipos [tipos]="pokemon ? pokemon.tipos : []"></app-badge-tipos>
                    </div>
                    <div class="mb-3">
                        <h3 class="mb-1 h3 text-danger">Debilidad</h3>
                        <app-badge-tipos [tipos]="pokemon ? pokemon.debilidades : []"></app-badge-tipos>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

